%html
  %head
    %script 
      function showStuff(id) { document.getElementById(id).style.display = 'block';}
  %body{:style => "font-family: helvetica;"}
  %h1 Can you name this connection?
  %table
    %tr
      %td
        %img{ :src => "#{@person[:picture_url]}", :width => "200", :height => "200"}
      %td
        %span{ :id=>:name, :style => "display: none	;" }
          %b 
            %a{ :href => "#{@person[:url]}"}
              #{@person[:first_name]} #{@person[:last_name]}
                 
  %p
    %a{ :href => "#", :onclick => "showStuff('name'); return false;"}
      I give up!

  
   
  %form{:action => '/'}
    %input{:type => :submit, :value => "Show me another LinkedIn connection", :style => "font-size:2em;"}
  